/* Generals */

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
}

input {
  box-sizing: border-box;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
  z-index: 99999;
}

label {
  font-size: 1rem;
  line-height: 25px;
}

button:focus {
  outline: none;
}

/* App container */

.container {
  margin: 5px;
}

/* Nav */

.nav {
  background-color: rgba(39, 92, 152, 1);
}

.nav.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 40px;
  padding-left: 10px;
  border-bottom: 2px solid rgba(1,1,1,0.5);
}

.nav.nav-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50px;
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.nav.nav-item a {
  text-decoration: none;
  width: 50px;
  height: 40px;
  padding-bottom: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.9rem;
}

.nav.nav-item a:hover {
  opacity: 0.8;
}

.nav.nav-item a.active {
  background-color: rgba(1,1,1,0.5);
  text-decoration: underline;
}

.nav.nav-item a.active:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.nav.nav-title {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding-right: 4px;
  color: white;
  cursor: default;
  margin-right: 15px;
}

.nav.nav-item.logout {
  margin-left: 15px;
  padding-right: 15px;
}

/* Alert */

.alert-box {
  color: white;
  position: fixed;
  top: 50px;
  height: 40px;
  min-width: 60px;
  right: 0;
  font-size: 0.8rem;
  text-align: center;
  padding-left: 8px;
  border-radius: 4px 0px 0px 4px;
  background-color: rgba(39, 92, 152, 1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Table Manipulator Panel */

.table-manip {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-left: 8px;
  width: 100%;
  height: auto;
}

.table-manip-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: inherit;
  -ms-flex-line-pack: inherit;
  align-content: inherit;
}

.job-text-input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.filter {
  width: 75%;
  font-size: 20px;
  margin-bottom: 5px;
}

.date {
  margin-left: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 38%;
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
}

/* MultiSelect */

.multiselect-holder {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 200px;
  margin-right: 5px;
}

.multiselect-checkbox {
  position: absolute;
  right: 0;
}

.multiselect-title {
  margin: auto;
  text-decoration: underline;
  font-weight: bolder;
}

/* Table */

.table {
  display: box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  box-pack: justify;
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 0.7rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

/* Header */

.table-header {
  display: none;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: rgba(39, 92, 152, 1);
}

.table-header .table-row-item {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: white;
  height: 33px;
  background-color: rgba(39, 92, 152, 1);
  /*font-weight: bold;*/
}

.table-header .table-row-item.qty-sm,
.table-header .table-row-item.qty-md {
  font-size: 0.7rem;
}

.table-header .table-row-item.asc:after {
  content: "^";
  position: absolute;
  right: 5px;
}

.table-header .table-row-item.desc:after {
  content: "v";
  position: absolute;
  right: 5px;
}

.table-header .table-row-item.fixed-col:after {
  content: none;
}

.table-header .table-row-item.hid {
  visibility: hidden;
}

/* Row */

.table-row {
  width: 100%;
}

.table-row:nth-of-type(even) {
  background-color: #f2f2f2;
}

.table-row:nth-of-type(odd) {
  background-color: #ffffff;
}

@media (min-width: 500px) {
  .table-row {
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .table-row:nth-of-type(even) {
    background-color: #f2f2f2;
  }

  .table-row:nth-of-type(odd) {
    background-color: #ffffff;
  }
}

.table-row-item {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 0.3em;
  word-break: break-word;
}

.table-row-item:before {
  content: attr(data-header);
  width: 30%;
  font-weight: 700;
}

.table-row-item.fixed-col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-basis: 20px;
  -ms-flex-preferred-size: 20px;
  flex-basis: 20px;
  padding: 0;
}

@media (min-width: 500px) {
  .table-row-item {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 0.4em;
  }

  .table-row-item:before {
    content: none;
  }
}

/* table inputs */

.table-row-item textarea {
  border: ;
}

.table-row-item input {
  margin: 0;
  border: 0;
  width: 100%;
  background-color: transparent;
}

.table-row-item select {
  background: transparent;
  border-radius: 2px;
  width: 100%;
  border: rgba(169, 169, 169, 0.2);
  height: auto;
  font-size: 1.1em;
}

.table-row-item .btn {
  border: none;
  margin: 0;
  font-size: 18px;
  line-height: 10px;
  padding: 0;
  width: 100%;
  height: 51px;
}

.table-row-item .btn.btn-right {
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(216, 212, 212);
  color: rgba(5, 5, 5, 0.63);
}

.table-row-item .btn.btn-left {
  border-radius: 4px 0px 0px 4px;
  background-color: rgba(5, 5, 5, 0.4);
  color: rgb(247, 247, 247);
}

.table-row-item .btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Specific job details */

.job-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 1rem;
  min-height: 200px;
}

.job-details-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 200px;
}

.job-details-field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.job-details-field .job-text-input {
  float: right;
  width: 60%;
}

.job-details-field label {
  width: 30%;
}

.job-details-field.notes {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.job-details-field.notes label {
  width: auto;
}

.job-text-area {
  width: 89%;
  min-height: 72px;
}

textarea {
  border-color: #aaaaaa;
  border-radius: 4px;
}

/* Other */

.add-button {
  float: right;
  width: 40px;
  height: 18px;
  font-size: 18px;
  line-height: 10px;
  background-color: rgba(39, 92, 152, 1);
  color: white;
  border: none;
  border-radius: 0px 0px 4px 4px;
  margin-right: 0.5em;
}

.add-button:hover {
  opacity: 0.8;
}

.pdfButton {
  border: none;
  background-color: #52b152;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

/* Flex Utility classes */

.qty-sm {
  -webkit-flex-grow: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
}

.qty-md {
  -webkit-flex-grow: 0.65;
  -ms-flex-positive: 0.65;
  flex-grow: 0.65;
}

.u-flex-grow1 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.u-flex-grow2 {
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.u-flex-grow3 {
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.u-flex-grow4 {
  -webkit-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.u-flex-grow5 {
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.u-flex-grow6 {
  -webkit-flex-grow: 6;
  -ms-flex-positive: 6;
  flex-grow: 6;
}

.u-flex-grow7 {
  -webkit-flex-grow: 7;
  -ms-flex-positive: 7;
  flex-grow: 7;
}

.u-flex-grow8 {
  -webkit-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8;
}

.u-flex-grow9 {
  -webkit-flex-grow: 9;
  -ms-flex-positive: 9;
  flex-grow: 9;
}

.u-flex-grow10 {
  -webkit-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}