/* Generals */

:root {
	--even-row: #f2f2f2;
	--odd-row: #ffffff;
	--red: rgba(224, 45, 45, 1);
	--blue: rgba(39, 92, 152, 1);
	--blueborder: rgba(1,1,1,0.5);
	--hover: 0.8;
}

body {
	margin: 0;
	font-family: 'Hind', sans-serif;
}

input {
	box-sizing: border-box;
}

a:visited {
	color:inherit;
}

a {
	color: inherit;
	z-index: 99999;
}

label {
  font-size: 1rem;
	line-height: 25px;
}

button:focus {
	outline: none;
}

/* App container */
.container {
	margin: 5px;
}
/* Nav */

.nav {
	background-color: var(--blue);
}

.nav.navbar {
	display: flex;
  flex-direction: row;
  height: 40px;
  padding-left: 10px;
  border-bottom: 2px solid var(--blueborder);
}

.nav.nav-item {
	display: flex;
	flex-basis: 50px;
  align-items: flex-end;
  justify-content: center;
  color: white;
}

.nav.nav-item a {
	text-decoration: none;
	width: 50px;
	height: 40px;
  padding-bottom: 5px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 0.9rem;
}

.nav.nav-item a:hover {
	opacity: var(--hover);
}
.nav.nav-item a.active {
	background-color: var(--blueborder);
	text-decoration: underline;
}

.nav.nav-item a.active:hover {
	opacity: var(--hover);
	text-decoration: underline;
}

.nav.nav-title {
	flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  font-size: 30px;
  padding-right: 4px;
  color: white;
  cursor: default;
	margin-right: 15px
}

.nav.nav-item.logout {
	margin-left: 15px;
	padding-right: 15px;
}

/* Alert */
.alert-box {
	color: white;
	position: fixed;
	top: 57px;
	height: 40px;
	min-width: 60px;
	right: 0;
	font-size: 0.8rem;
	text-align: center;
	padding-left: 8px;
	border-radius: 4px 0px 0px 4px;
	background-color: var(--blue);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.alert-box.error {
	background-color: var(--red);
	font-weight: bold;
}

/* Table Manipulator Panel */
.table-manip {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content:  flex-end;
  align-items: stretch;
  margin-left: 8px;

	width: 100%;
	height: auto;
}

.table-manip-col {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: inherit;
}

.job-text-input {
	display: flex;
	height: auto;
}

.filter {
  width: 75%;
  font-size: 20px;
  margin-bottom:5px;
}

.date {
	margin-left: 0;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 38%;
}

/* MultiSelect */

select[multiple] {
	height: 8em;
}

.multiselect-holder {
  flex-direction: column;
  display: flex;
  position:relative;
  width: 200px;
  margin-right:5px;
}

.multiselect-checkbox {
	position:absolute;
	right: 0;
}

.multiselect-title {
	margin: auto;
	text-decoration: underline;
	font-weight: bolder;
}

/* Table */
.table {
	display: box;

	display: flex;
	flex-flow: column nowrap;
	box-pack: justify;
	-o-justify-content: space-between;
	justify-content: space-between;

	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	font-size: 0.7rem;
	line-height: 1.5;
	margin-top: 0.5rem;
}

/* Header */

.link {
	font-size: 1.5em;
}

.table-header {
	display: none;
	align-items: flex-end;
	background-color: var(--blue);
}
.table-header .table-row-item {
	position: relative;
	user-select: none;
	font-size: 0.8rem;
	align-items: baseline;
	color: white;
	height: 33px;
	background-color: var(--blue);
	/*font-weight: bold;*/
}
.table-header .table-row-item.qty-sm,
.table-header .table-row-item.qty-md {
	font-size: 0.7rem;
}

.table-header .table-row-item.asc:after {
	content: "^";
	position: absolute;
	right: 5px;
	bottom: 0px;
}
.table-header .table-row-item.desc:after {
	content: "v";
	position: absolute;
	right: 5px;
	bottom: 0px;
}
.table-header .table-row-item.fixed-col:after {
	content: none;
}

.table-header .table-row-item.hid {
	visibility: hidden;
}

/* Row */
.table-row {
	width: 100%;
}
.table-row:nth-of-type(even) {
	background-color: var(--even-row);
}
.table-row:nth-of-type(odd) {
	background-color: var(--odd-row);
}
@media (min-width: 500px) {
	.table-row {
		display: box;
		display: flex;
		flex-flow: row nowrap;
	}
	.table-row:nth-of-type(even) {
		background-color: var(--even-row);
	}
	.table-row:nth-of-type(odd) {
		background-color: var(--odd-row);
	}
}
.table-row-item {
	align-items: center;
	display: box;
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	flex-basis: 0;
	height: 51px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
	padding-left: 0.3em;
	word-break: break-word;
}

.table-row-item:before {
	content: attr(data-header);
	width: 30%;
	font-weight: 700;
}


.table-row-item.fixed-col {
	flex-direction: column;
	flex-grow: 0;
	flex-basis: 20px;
	padding: 0;
}


@media (min-width: 500px) {
	.table-row-item {
		border-left: 1px solid #fff;
		border-right:1px solid #fff;
		padding-left: 0.4em;
	}
	.table-row-item:before {
		content: none;
	}
}



/* table inputs */
.table-row-item textarea {
	width: 95%;
	border: ;
}
.table-row-item input {
	margin: 0;
	border: 0;
	width: 100%;
	background-color: transparent;
}
.table-row-item select {
	background: transparent;
	border-radius: 2px;
	width: 100%;
	border: rgba(169, 169, 169, 0.2);
	height: auto;
	font-size: 1.1em;
}

.table-row-item input[type="number"] {
	text-align: center;
	font-size: 1.5em;
}

.table-row-item input::-webkit-outer-spin-button,
.table-row-item input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.table-row-item .btn {
	border: none;
	margin: 0;
	font-size: 18px;
	line-height: 10px;
	padding: 0;
	width: 100%;
	height: 51px;
}
.table-row-item .btn.btn-right {
	border-radius: 0px 4px 4px 0px;
	background-color: rgb(216, 212, 212);
	color: rgba(5, 5, 5, 0.63);
}
.table-row-item .btn.btn-left {
	border-radius: 4px 0px 0px 4px;
	background-color: rgba(5, 5, 5, 0.4);
	color: rgb(247, 247, 247);
}

.table-row-item .btn:hover {
	opacity: var(--hover);
	cursor: pointer;
}

/* Date Selector */
.date-selector-input::-webkit-inner-spin-button,
.date-selector-input::-webkit-calendar-picker-indicator {
	color: black;
	z-index: 999999;
}

.date-selector-input::-webkit-datetime-edit-month-field {
	color: transparent;
	letter-spacing: 5px;
}
.date-selector-input::-webkit-datetime-edit-day-field {
	color: transparent;
}
.date-selector-input::-webkit-datetime-edit-year-field {
	color: transparent;
}

.date-selector-input::-webkit-clear-button {
	display: none;
}

/* Specific job details */
.job-details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  font-size: 1rem;
  min-height: 200px;
}

.job-details-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	min-height: 200px;
}

.job-details-field {
	display: flex;
}

.job-details-field .job-text-input {
	float: right;
	width: 60%;
}

.job-details-field label {
	width: 30%;
}

.job-details-field.notes {
	flex-direction: column;
}

.job-details-field.notes label {
	width: auto;
}

.job-text-area {
	width: 89%;
	min-height: 72px;
}

	textarea {
	border-color: #aaaaaa;
	border-radius: 4px;
}

/* Other */
.add-button {
	float: right;
	width: 40px;
	height: 18px;

	font-size: 18px;
	line-height: 10px;

	background-color: var(--blue);
	color: white;

	border: none;
	border-radius: 0px 0px 4px 4px;
	margin-right: 0.5em;
}

.add-button:hover {
	opacity: var(--hover);
}

	.pdfButton {
	border: none;
	background-color: #52b152;
	border-radius: 5px;
	color: white;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
}

/* Flex Utility classes */

.qty-sm {
	flex-grow: 0.5;
}

.qty-md {
	flex-grow: 0.65;
}
.u-flex-grow1 {
	flex-grow: 1;
}

.u-flex-grow1semi {
	flex-grow: 1.5;
}
.u-flex-grow2 {
	flex-grow: 2;
}

.u-flex-grow3 {
	flex-grow: 3;
}

.u-flex-grow4 {
	flex-grow: 4;
}

.u-flex-grow5 {
	flex-grow: 5;
}

.u-flex-grow6 {
	flex-grow: 6;
}

.u-flex-grow7 {
	flex-grow: 7;
}

.u-flex-grow8 {
	flex-grow: 8;
}

.u-flex-grow9 {
	flex-grow: 9;
}

.u-flex-grow10 {
	flex-grow: 10;
}
