.spinner {
  width: 16px;
  height: 16px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;

  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(16px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(16px) translateY(16px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(16px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(16px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(16px) translateY(16px) rotate(-179deg);
  } 50.1% {
    transform: translateX(16px) translateY(16px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(16px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}
